* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.header-img--main {
  height: 55vh;
  background-image: linear-gradient(
      100deg,
      rgb(126, 213, 111, 0.9) 20%,
      rgb(40, 180, 133, 0.8) 50%,
      rgb(40, 180, 133, 0.1) 80%
    ),
    url(../images/aircraft.jpg);

  background-position: top;
  background-size: cover;
  position: relative;
  margin: 0rem 1rem 1rem 1rem;
}

.header-img--stories {
  height: 55vh;
  background-image: linear-gradient(
      140deg,
      rgb(152, 103, 240, 0.7) 10%,
      rgb(237, 78, 80, 0.6) 45%,
      rgb(237, 78, 80, 0.1) 80%
    ),
    url(../images/ribblehead-viaduct.jpg);

  background-position: top;
  background-size: cover;
  position: relative;
  margin: 0rem 1rem 1rem 1rem;
}

.header-img--contact {
  height: 55vh;
  background-image: linear-gradient(
      140deg,
      rgba(255, 229, 127, 0.7) 10%,
      rgba(255, 113, 112, 0.6) 45%,
      rgb(237, 78, 80, 0.1) 80%
    ),
    url(../images/ribblehead-viaduct.jpg);

  background-position: top;
  background-size: cover;
  position: relative;
  margin: 0rem 1rem 1rem 1rem;
}
.heading-title {
  color: #fff;
  font-size: 3.5rem;
}

.heading-main {
  font-size: 3rem;
  font-weight: 700;
}

.title-main {
  position: absolute;
  top: 30%;
  left: 10%;
}

.title-sub {
  position: absolute;
  top: 45%;
  left: 20%;
}

main {
  font-size: 1.15rem;
}

.section-intro,
.paragraph {
  max-width: 75%;
  margin-bottom: 5rem;
}

.section-info {
  background-color: #f7f7f7;
}

@media only screen and (max-width: 768px) {
  .header-img--main,
  .header-img--stories,
  .header-img--contact {
    height: 45vh;
    margin: 0rem 1rem 1rem 1rem;
  }

  .heading-title {
    font-size: 2.5rem;
  }
}
